<br>

<div class="container-fluid" ng-if="doiLandingPageController.title">
    <div class="row">
        <div class="col-sm-12">

        	<div class="jumbotron">
				<h1>{{doiLandingPageController.title}}</h1>
				<p>{{doiLandingPageController.description}}</p>
				<p>
					<button ng-if="doiLandingPageController.isReleased && doiLandingPageController.isValidSession" class="btn btn-primary btn-lg" ng-click="doiLandingPageController.download()">Download</button>

					<span ng-if="!doiLandingPageController.isReleased" uib-tooltip="Data has not been released yet">
						<button class="btn btn-primary btn-lg disabled">Download</button>
					</span>

					<span ng-if="doiLandingPageController.isReleased && !doiLandingPageController.isValidSession" uib-tooltip="You must be signed in to access this data">
						<button class="btn btn-primary btn-lg disabled">Download</button>
					</span>

				</p>

				<div style="margin-top: 75px">
					<div class="panel panel-default">
						<div class="panel-heading">DOI</div>
						<div class="panel-body">{{doiLandingPageController.doi}}</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">Release Date</div>
						<div class="panel-body">{{doiLandingPageController.releaseDate}}</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">Creators</div>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="creator in doiLandingPageController.creators">{{creator}}</li>
						</ul>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">Licence</div>
						<div class="panel-body">
							<a href="{{doiLandingPageController.licenceUrl}}" target="_blank">{{doiLandingPageController.licenceName}}</a>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">Publisher</div>
						<div class="panel-body">{{doiLandingPageController.publisher}} ({{doiLandingPageController.publicationYear}})</div>
					</div>
				</div>

			</div>

			

        </div>
    </div>
</div>



