<div ng-if="!makeDataPublicController.loaded">
    <br><div class="loading">&nbsp;</div><br><br>
</div>
<form ng-if="makeDataPublicController.loaded">
    <div class="modal-header">
        <h3 class="modal-title" translate="CART.MAKE_DATA_PUBLIC.TITLE"></h3>
    </div>
    <div class="modal-body">
        <div ng-if="makeDataPublicController.state == 'basic_details'" class="form-group">
            <label>*Title</label>
            <input type="text" ng-model="makeDataPublicController.title" class="form-control input-sm">
        </div>
        <div ng-if="makeDataPublicController.state == 'basic_details'" class="form-group">
            <label>*Description</label>
            <textarea class="form-control" ng-model="makeDataPublicController.description" style="height: 250px"></textarea>
        </div>
        <div ng-if="makeDataPublicController.state == 'basic_details'" class="form-group">
            <label>*Creators</label>
            <div class="input-group" style="margin-top: 7px;" ng-repeat="creator in makeDataPublicController.creators">
                <span class="form-control">{{creator}}</span>
                <label class="input-group-addon">
                    <button class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="makeDataPublicController.moveCreatorUp(creator)"><i class=" glyphicon glyphicon-arrow-up"></i></button>
                    <button class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="makeDataPublicController.moveCreatorDown(creator)"><i class=" glyphicon glyphicon-arrow-down"></i></button>
                    <button class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="makeDataPublicController.deleteCreator(creator)"><i class="glyphicon glyphicon-remove"></i></button>
                </label>
            </div>
            <div class="input-group" style="margin-top: 7px;">
                <input type="text" class="form-control" ng-keyup="$event.which === 13 && makeDataPublicController.addCreator();" ng-model="makeDataPublicController.newCreator">
                <label class="input-group-addon">
                <button class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="makeDataPublicController.addCreator()"><i class="glyphicon glyphicon-plus"></i></button>
                </label>
            </div>
        </div>
        <div ng-if="makeDataPublicController.state == 'basic_details'" class="form-group">
            <label>When do you want to release the data?</label>
            <select
                class="form-control"
                ng-options="isReleaseDateOption.value as isReleaseDateOption.label for isReleaseDateOption in makeDataPublicController.isReleaseDateOptions"
                ng-model="makeDataPublicController.isReleaseDate"></select>
        </div>
        <div ng-if="makeDataPublicController.state == 'basic_details' && makeDataPublicController.isReleaseDate" class="form-group">
            <label>Release date</label>
            <p class="input-group">
                <input
                    type="text"
                    class="form-control input-sm"
                    uib-datepicker-popup="{{searchController.dateFormat}}"
                    ng-model="makeDataPublicController.releaseDate"
                    is-open="makeDataPublicController.isReleaseDateOpen"
                    ng-click="makeDataPublicController.isReleaseDateOpen = true"
                    close-text="Close"
                    placeholder="{{'SEARCH.FORM.START_DATE_PLACEHOLDER' | translate}}"
                />
                <span class="input-group-btn">
                    <button
                        type="button"
                        class="btn btn-default input-sm"
                        ng-click="makeDataPublicController.isReleaseDateOpen = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <div ng-if="makeDataPublicController.state == 'legal'" class="form-group">
        	<label>Licence</label>
        	<select
        		class="form-control"
        		ng-change="makeDataPublicController.updateCreativeCommonsLicence()"
        		ng-model="makeDataPublicController.licence"
        		ng-options="licence.name for licence in makeDataPublicController.licences">
            </select>
        </div>
        <div ng-if="makeDataPublicController.state == 'legal' && makeDataPublicController.licence && makeDataPublicController.licence.name == 'Creative Commons'" class="form-group">
            <label>Allow adaptations of your work to be shared?</label>
            <select
                class="form-control"
                ng-model="makeDataPublicController.creativeCommonsAllowDerivatives"
                ng-change="makeDataPublicController.updateCreativeCommonsLicence()">
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="sa">Yes, as long as others share alike</option>
            </select>
        </div>
        <div ng-if="makeDataPublicController.state == 'legal' && makeDataPublicController.licence && makeDataPublicController.licence.name == 'Creative Commons'" class="form-group">
            <label>Allow commercial uses of your work?</label>
            <select
                class="form-control"
                ng-model="makeDataPublicController.creativeCommonsCommercial"
                ng-change="makeDataPublicController.updateCreativeCommonsLicence()">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div ng-if="makeDataPublicController.state == 'legal' && makeDataPublicController.licence && makeDataPublicController.licence.name == 'Creative Commons'" class="form-group">
            <label>Terms and Conditions</label>
            <div style="text-align: center; padding: 14px">
                <h4>
                    <a 
                        href="{{makeDataPublicController.creativeCommonsLicenceUrl}}"
                        target="_blank">
                        {{makeDataPublicController.creativeCommonsLicenceName}}
                    </a>

                </h4>
                <div style="text-align: center; margin-top: 14px">
                    <img ng-src="/topcat_doi_plugin/images/creative_commons/cc.png">
                    <img ng-src="/topcat_doi_plugin/images/creative_commons/by.png">
                    <img ng-if="makeDataPublicController.creativeCommonsCommercial == 'no'" ng-src="/topcat_doi_plugin/images/creative_commons/nc.png">
                    <img ng-if="makeDataPublicController.creativeCommonsAllowDerivatives == 'no'" ng-src="/topcat_doi_plugin/images/creative_commons/nd.png">
                    <img ng-if="makeDataPublicController.creativeCommonsAllowDerivatives == 'sa'" ng-src="/topcat_doi_plugin/images/creative_commons/sa.png">
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="makeDataPublicController.hasAcceptedLegal">
                    I agree to the above terms and conditions
                </label>
            </div>

        </div>
        <div ng-if="makeDataPublicController.state == 'legal' && makeDataPublicController.licence && makeDataPublicController.licence.name != 'Creative Commons'" class="form-group">
            <label>Terms and Conditions</label>
            <div class="terms-and-conditions">{{makeDataPublicController.licence.terms}}</div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="makeDataPublicController.hasAcceptedLegal">
                    I agree to the above terms and conditions
                </label>
            </div>
        </div>
        <div ng-if="makeDataPublicController.state == 'confirm'" class="form-group">
            <label>Title</label>
            <p>{{makeDataPublicController.title}}</p>
        </div>
        <div ng-if="makeDataPublicController.state == 'confirm'" class="form-group">
            <label>Description</label>
            <p>{{makeDataPublicController.description}}</p>
        </div>
        <div ng-if="makeDataPublicController.state == 'confirm'" class="form-group">
            <label>Creators</label>
            <ul>
                <li ng-repeat="creator in makeDataPublicController.creators">{{creator}}</li>
            </ul>
        </div>
        <div ng-if="makeDataPublicController.state == 'confirm'" class="form-group">
            <label>Release Date</label>
            <p>{{makeDataPublicController.computedReleaseDate | date:'yyyy-MM-dd'}}</p>
        </div>
        <div ng-if="makeDataPublicController.state == 'confirm'" class="form-group">
            <label>Licence</label>
            <p ng-if="makeDataPublicController.licence.name != 'Creative Commons'">{{makeDataPublicController.licence.name}}</p>
            <p ng-if="makeDataPublicController.licence.name == 'Creative Commons'">
                <a 
                    href="{{makeDataPublicController.creativeCommonsLicenceUrl}}"
                    target="_blank">
                    Creative Commons - {{makeDataPublicController.creativeCommonsLicenceName}}
                </a>
            </p>
        </div>
    </div>
    <div class="modal-footer">
    	<button
    		ng-disabled="makeDataPublicController.isPreviousDisabled()"
    		class="btn btn-primary"
    		ng-click="makeDataPublicController.previous()"
    		translate="CART.MAKE_DATA_PUBLIC.PREVIOUS_BUTTON.TEXT">		
    	</button>

    	<button
    		ng-if="makeDataPublicController.state != 'confirm'"
    		ng-disabled="makeDataPublicController.isNextDisabled()" 
    		class="btn btn-primary" ng-click="makeDataPublicController.next()"
    		translate="CART.MAKE_DATA_PUBLIC.NEXT_BUTTON.TEXT">		
    	</button>

        <button
            type="submit"
        	ng-if="makeDataPublicController.state == 'confirm'"
        	ng-disabled="makeDataPublicController.isConfirmDisabled()" 
        	class="btn btn-primary"
        	ng-click="makeDataPublicController.confirm()"
        	translate="CART.MAKE_DATA_PUBLIC.CONFIRM_BUTTON.TEXT">	
        </button>

        <button
        	class="btn btn-warning"
        	ng-click="makeDataPublicController.cancel()"
        	translate="CART.MAKE_DATA_PUBLIC.CANCEL_BUTTON.TEXT">	
        </button>
    </div>
</form>